{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <span>Login</span>
            </a>
        </div>
        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% block sonata_user_login_error %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <p class="login-box-msg">{{ 'Authentication'|trans }}</p>
                {{ form_start(form, {'method':'post','action': path('carguru_member_login'),'attr': {'class': 'form','autocomplete': 'off','novalidate':'novalidate', 'id':'kt_login_signin_form'}}) }}
                <div class="form-group">
                    {{ form_widget(form._username, { 'attr': {'class': 'form-control form-control-solid h-auto py-5 px-6', 'placeholder': 'Username', 'autocomplete':'off'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form._password, {'attr': {'class': 'form-control form-control-solid h-auto py-5 px-6', 'placeholder': 'Password','autocomplete':'off'}}) }}
                </div>
                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                    <div class="checkbox-inline">
                        <label class="checkbox checkbox-primary m-0">
                            <input type="checkbox" name="_remember_me" />
                            <span></span>Keep me logged in</label>
                    </div>
                </div>
                <!--begin::Action-->
                <div class="form-group text-center mt-10">
                    <button id="kt_login_signin_submit" class="btn btn-primary px-15 py-3"><i class="fa fa-sign-in-alt"></i> Connect</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <!--end::Action-->
                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>
{% endblock sonata_wrapper %}